.fc-h-event{
    border:1px solid gray;
    background: transparent !important;
}
.fc-h-event .fc-event-main{
    background: transparent !important;
    display: flex;
    color:black;
}
.fc-h-event .fc-event-main span{
    padding:3px 8px;
}
.typeEvent{
    border-right:1px solid gray;
    width:35px;
    text-align:center;
}
.green{
    background:green;
}
.yellow{
    background:yellow;
}
.orange{
    background:orange;
}

/* The customCheck */
.customCheck {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.customCheck input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
}
.checkmark.yellow {
  background-color: yellow;
}
.checkmark.orange {
  background-color: orange;
}
.checkmark.yellow {
  background-color: green;
}

.customCheck:hover input ~ .checkmark {
  background-color: #ccc;
}
.customCheck.yellow input:checked ~ .checkmark {
  background-color: yellow;
}
.customCheck.orange input:checked ~ .checkmark {
  background-color: orange;
}
.customCheck.green input:checked ~ .checkmark {
  background-color: green;
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.customCheck input:checked ~ .checkmark:after {
  display: block;
}
.customCheck .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid #2196F3;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.customCheck .checkmark.yellow:after{
   background-color: yellow; 
}
.customCheck .checkmark.orange:after{
   background-color: orange; 
}
.customCheck .checkmark.green:after{
   background-color: green; 
}

.header{
    background: gainsboro;
    color:#333;
}
.content-img{
    position: relative;
    width: 6em;
    height: 3em;
}
.navbar-brand img{
    width:100px;
}
.container-etiqueta{
    background: #bfedd0;
    border-radius: 8px;
    padding:10px 5px;
    display: flex;
    align-items: center;
    margin-top: 1em;
    font-weight: 600;
    font-size: 13px;
}
.container-etiqueta p{
    float: left;
    margin: 0;
    margin-right: 6em;
}
@media screen and (max-width: 768px) {
    .container-etiqueta{
        flex-direction: column;
        align-items: flex-start;
    }
    .container-etiqueta p{
        text-align:left;
        margin-right: 0em;
        margin-left: 10px !important;
    }
}
.first-text-etiqueta{
    margin-left: .5em!important;
}
.container-title{
    margin: 0;
    height: 3em;
    display: flex;
    align-items: center;
    font-weight: 600;
}
.btn-new-report{
    border-top: 2px solid gainsboro;
    border-bottom: 1px solid gainsboro;
    height: 4em;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.container-pagination-report ul{
    justify-content: flex-end;
    margin-top: 1.5em;
}
@media screen and (max-width: 768px) {
    .container-pagination-report ul{
        justify-content: center;
    }
}
.page-link{
    color: #dc3545 !important;
}
.page-item.active .page-link {
    color: #fff!important;
    background-color: #dc3545 !important;
    border-color: #dc3545 !important;
}
.table{
    font-size: 14px;
    border: 1px solid #333;
}
.table thead th{
    vertical-align:middle;
    border:0;
}
.title{
    font-size: 23px;
    margin-top: 20px;
    margin-bottom: 20px;
}
@media screen and (max-width: 768px) {
    .title{
        font-size: 18px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}
.line-separate{
    border:1px solid gainsboro;
}